# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
author/
layouts/
wp-content/
wp-includes/
zasady-ochrany-osobnich-udaju/
index.html
robots.txt
screencapture-localhost-4321-2026-02-13-11_45_13.png
screencapture-myci-cz-2026-02-13-11_44_52.png
