/* Alabastr - Primary font (UseAnyFont override on original site) */
@font-face {
  font-family: 'alabastr';
  src: url('/fonts/alabastr/190911085729alabastr.woff') format('woff');
  font-display: swap;
}

/* SpartanMB - Theme font, fallback */
@font-face {
  font-family: 'spartanmb';
  src: url('/fonts/spartanmb/spartanmb-thin.woff2') format('woff2'),
       url('/fonts/spartanmb/spartanmb-thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'spartanmb';
  src: url('/fonts/spartanmb/spartanmb-light.woff2') format('woff2'),
       url('/fonts/spartanmb/spartanmb-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'spartanmb';
  src: url('/fonts/spartanmb/spartanmb-regular.woff2') format('woff2'),
       url('/fonts/spartanmb/spartanmb-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'spartanmb';
  src: url('/fonts/spartanmb/spartanmb-semibold.woff2') format('woff2'),
       url('/fonts/spartanmb/spartanmb-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'spartanmb';
  src: url('/fonts/spartanmb/spartanmb-bold.woff2') format('woff2'),
       url('/fonts/spartanmb/spartanmb-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'spartanmb';
  src: url('/fonts/spartanmb/spartanmb-extra-bold.woff2') format('woff2'),
       url('/fonts/spartanmb/spartanmb-extra-bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'spartanmb';
  src: url('/fonts/spartanmb/spartanmb-black.woff2') format('woff2'),
       url('/fonts/spartanmb/spartanmb-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Open Sans - Body font (self-hosted, previously Google Fonts) */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400 600;
  font-stretch: 100%;
  font-display: swap;
  src: url('/fonts/open-sans/open-sans-latin-ext.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400 600;
  font-stretch: 100%;
  font-display: swap;
  src: url('/fonts/open-sans/open-sans-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Fontello - Icon font */
@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello/fontello.woff2') format('woff2'),
       url('/fonts/fontello/fontello.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Weather Icons */
@font-face {
  font-family: 'weathericons';
  src: url('/fonts/weather-icons/weathericons-regular-webfont.woff2') format('woff2'),
       url('/fonts/weather-icons/weathericons-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Icon classes - only the ones actually used */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before { content: '\e81a'; }
.icon-up:before { content: '\e835'; }
.icon-paper-plane-light:before { content: '\e851'; }
.icon-youtube:before { content: '\e8a3'; }
.icon-cancel:before { content: '\e8ac'; }
.icon-file-image:before { content: '\e8d5'; }
.icon-iconmonstr-facebook-1:before { content: '\e95d'; }

/* Weather icon classes used in the widget */
.wi { font-family: 'weathericons'; display: inline-block; font-style: normal; font-weight: normal; }
.wi-fw { width: 1.3em; text-align: center; }
.wi-weather-5:before { content: '\f017'; }
.wi-weather-11:before { content: '\f019'; }
.wi-weather-26:before { content: '\f013'; }
.wi-weather-27:before { content: '\f013'; }
.wi-weather-32:before { content: '\f00d'; }
.wi-weather-39:before { content: '\f008'; }
