/* Alabastr - Primary font (UseAnyFont override on original site) */
@font-face {
  font-family: 'alabastr';
  src: url('/fonts/alabastr/190911085729alabastr.woff') format('woff');
  font-display: swap;
}

/* SpartanMB - Theme font, fallback */
@font-face {
  font-family: 'spartanmb';
  src: url('/fonts/spartanmb/spartanmb-thin.woff2') format('woff2'),
       url('/fonts/spartanmb/spartanmb-thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'spartanmb';
  src: url('/fonts/spartanmb/spartanmb-light.woff2') format('woff2'),
       url('/fonts/spartanmb/spartanmb-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'spartanmb';
  src: url('/fonts/spartanmb/spartanmb-regular.woff2') format('woff2'),
       url('/fonts/spartanmb/spartanmb-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'spartanmb';
  src: url('/fonts/spartanmb/spartanmb-semibold.woff2') format('woff2'),
       url('/fonts/spartanmb/spartanmb-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'spartanmb';
  src: url('/fonts/spartanmb/spartanmb-bold.woff2') format('woff2'),
       url('/fonts/spartanmb/spartanmb-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'spartanmb';
  src: url('/fonts/spartanmb/spartanmb-extra-bold.woff2') format('woff2'),
       url('/fonts/spartanmb/spartanmb-extra-bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'spartanmb';
  src: url('/fonts/spartanmb/spartanmb-black.woff2') format('woff2'),
       url('/fonts/spartanmb/spartanmb-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Fontello - Icon font */
@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello/fontello.woff2') format('woff2'),
       url('/fonts/fontello/fontello.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Weather Icons */
@font-face {
  font-family: 'weathericons';
  src: url('/fonts/weather-icons/weathericons-regular-webfont.woff2') format('woff2'),
       url('/fonts/weather-icons/weathericons-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Icon classes - only the ones actually used */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before { content: '\e81a'; }
.icon-up:before { content: '\e835'; }
.icon-paper-plane-light:before { content: '\e851'; }
.icon-youtube:before { content: '\e8a3'; }
.icon-cancel:before { content: '\e8ac'; }
.icon-file-image:before { content: '\e8d5'; }
.icon-iconmonstr-facebook-1:before { content: '\e95d'; }

/* Weather icon classes used in the widget */
.wi { font-family: 'weathericons'; display: inline-block; font-style: normal; font-weight: normal; }
.wi-fw { width: 1.3em; text-align: center; }
.wi-weather-5:before { content: '\f017'; }
.wi-weather-11:before { content: '\f019'; }
.wi-weather-26:before { content: '\f013'; }
.wi-weather-27:before { content: '\f013'; }
.wi-weather-32:before { content: '\f00d'; }
.wi-weather-39:before { content: '\f008'; }
