<!-- Elfsight Weather -->
<script is:inline src="https://elfsightcdn.com/platform.js" async></script>
<div class="elfsight-app-746c84ce-213f-4d86-be3a-2b7a80714abd" data-elfsight-app-lazy></div>

<script is:inline>
document.addEventListener('astro:page-load', () => {
  const widget = document.querySelector('.elfsight-app-746c84ce-213f-4d86-be3a-2b7a80714abd');
  if (widget && window.eapps) {
    widget.innerHTML = '';
    widget.removeAttribute('data-elfsight-app-inited');
    window.eapps.AppsManager.applyWidgets();
  }
});
</script>
