<!-- Elfsight Weather -->
<div transition:persist="weather-widget">
  <script is:inline src="https://elfsightcdn.com/platform.js" async></script>
  <div class="elfsight-app-746c84ce-213f-4d86-be3a-2b7a80714abd" data-elfsight-app-lazy></div>
</div>
